.Login{
  background-image: url('../../assets/330377667_5313494155419299_51808264110178228_n.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  max-width: 500px;
  width: 100%;
  /* margin: auto; */
}
.ui.form .field>label{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}
.formfeilds {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.captcha{
  padding-bottom: 10px;
}

button {
  background: #1d76a0  ;
  width: 100%;
  padding-top: 15px;
}
p {
  color: red;
}
h1{
  color: #1d76a0 ;
}
.GoogleButton{
  margin-top: 10px;
}
.GoogleLogin{
  justify-content: center;
  align-items: center;
}